---
---

/* Index page titling */
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.title h1 {
  text-align: center;
  font-size: 6em;
  line-height: 1;
}

.title h2 {
  font-size: 4em;
  text-align: center;
}
.ampersand {
  position: absolute;
  color: rgba(24, 15,10, .15);
  text-align: center;
  z-index: -1;
  display: block;
  font-size: 18em;
  width: 100%;
  right: 0;
  transform: translateY(-55%);
}

body {
  justify-content: space-between;
}
.subtitle {
  margin: 3rem 0;
  padding-bottom: 3rem;
}

footer {
  margin-top: 0;
}
