@import url( 'https://fonts.googleapis.com/css?family=EB+Garamond');
$text-color: #180f0a;
/* $text-color: rgba(24, 15, 10, 1)*/
$background-color: #fffaf0;
/* $background-color: 	rgba(255, 250, 240, 1)*/
html {
    line-height: 1;
    font-size: 100%;
    font-family: "EB Garamond", Garamond, "Adobe Garamond Pro", serif;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    vertical-align: baseline;
    color: $text-color;
    background: url("/images/paper-texture.png"), $background-color;
}

body {
    margin: 0;
    padding: 0 1rem;
    border: 0;
    vertical-align: baseline;
}

h1 {
    font-size: 3.5rem;
    line-height: 1;
    margin: 0 0 0.6em;
    padding: 0;
    border: 0;
    vertical-align: bottom;
}

h2 {
    font-size: 2.25em;
    line-height: 1.25;
    margin: 0 0 0.5em 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

h3 {
    font-size: 1.5em;
    line-height: 1.25;
    margin: 0 0 0.3em 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

h4 {
    font-size: 1.125em;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

p {
    font-size: 1.25rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    border: 0;
}

a,
abbr,
address,
b,
blockquote,
caption,
cite,
code,
dd,
del,
details,
dfn,
dl,
dt,
em,
figcaption,
footer,
h5,
h6,
header,
i,
ins,
kbd,
label,
legend,
li,
main,
mark,
ol,
pre,
q,
s,
samp,
small,
span,
strong,
time,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 1.25rem;
}

article,
aside,
audio,
canvas,
div,
embed,
fieldset,
figure,
form,
hgroup,
iframe,
img,
menu,
nav,
object,
output,
ruby,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
menu,
nav,
section {
    display: block;
}

menu,
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    /* remember to define focus styles! */
    outline: none;
    /* this is to help you remember to do that! */
    background-color: rgba(24, 15, 10, .2);
}

a {
    color: $text-color;


}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

:link img,
:visited img,
a img {
    border: none;
}
/* Header/Nav */
header {
    padding: 0 2rem;
    display: block;
}

nav {
    background-image: url("/images/horizontal-rule.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 0.75rem;
    padding: 0 0 3rem;
    margin: 0 0 2rem;
}

.navbar {
    padding: 0.5rem 0;
}

.navbar li {
    display: inline-block;
    padding: 0.25rem 0.75rem 0.25rem 0;
    font-size: 1.5em;

    a {
        text-decoration: none;
        padding: 0.05rem 0 0.5rem;
    }

    a.current,
    a:focus,
    a:hover {
        background-image: url("/images/ornamental-underline.svg");
        background-repeat: no-repeat;
        display: block;
        background-size: 4em auto;
        background-position: bottom;
    }
}
/* Main content area */
main {
    padding: 0 2rem;
}
.page-title {
  text-align: center;
}
.bullet {
  height: 0.4em;
  width: 0.4em;
  padding: 0 0.4em 0.1em;
}
ul {
  list-style-image: url("/images/fancy-bullet.svg");
  padding: 1em;
}

li {
  line-height: 1.25;
}

section {
    margin: 0 0 1.25rem;
}

/* Footer */
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    padding: 2rem;
    text-align: center;
    background-image: url("/images/horizontal-rule.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto 0.75rem;
}
